* {
    margin: 0;
    padding: 0;
}
body {
    background: #f6d5d5; ;
}
#main {
    text-align: center;
    margin-top: 50px;
}
svg {
    background: #b08fbb;
    border-radius: 9px;
}
#tooltip {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    min-width: 120px;
    max-width: 150px;
    min-height: 50px;
    background: #ca498c;
    border-radius: 5px;
    padding: 10px;
}